body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-of-life-board {
    border: 1px solid black;
    width: 800px;
    height: 600px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}